@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  min-height: 100vh;
}

.wrap {
  margin: 0 auto;
  max-width: 1176px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}

.custom-marker-cluster {
  background: #ffffff;
  border: 4px solid #282c34;
  border-radius: 50%;
  color: #000000;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px !important;
  font-size: 16px;
  font-weight: 500;
}

.button {
  max-width: 200px;
  max-height: 44px;
  width: fit-content;

  background: cornflowerblue;
  color: white;
  border-radius: 5px;
  padding: .5em;
}

.input {
  width: 100%;
  border: cornflowerblue 2px solid;
  border-radius: 7px;

  padding: 10px 15px;
}

.error {
  user-select: none;
  color: red;

  padding: 10px 15px;
}

.summary {
  user-select: none;
  cursor: pointer;
}

.responsive-image-container {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.last-news {
  position: static;
}

.last-news__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.last-news__card:nth-child(2) {
}

.last-news__card:nth-child(5) {
}

.last-news__card img {
  width: 100%;
}

.last-news__card:first-child img {
  width: 100%;
  height: 100%;
}

.last-news__card-content__container {
  position: static;
}

.last-news__card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px 0;
}

.last-news__card-title {
  cursor: pointer;
}

.last-news__card-date {
}

.last-news__card:first-child .last-news__card-content__container {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
}

.last-news__card:first-child
  .last-news__card-content__container
  .last-news__card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: white;

  padding: 30px;
}

.last-news__card:first-child
  .last-news__card-content__container
  .last-news__card-title {
}

.last-news__card:first-child
  .last-news__card-content__container
  .last-news__card-date {
}

.mobile__menu {
  animation: slidein-right 1s forwards;
}

@keyframes slidein-right {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.index-page-slider {
}

.index-page-slider .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #f4f7fb;
  position: relative;
}

.index-page-slider .item img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  object-fit: contain;
}
.index-page-slider .item .text {
  padding: 10% 0;
  width: 48%;
  color: #3b4357;
}
.index-page-slider .item .text .name {
  font-size: 2.5rem;
  font-family: "Golos-UI Med";
}
.index-page-slider .item .text p {
  font-size: 1.125rem;
  line-height: 160%;
  margin: 1rem 0 2.25rem;
}


.index-page-slider .slick-prev {
  display: none !important;
}

.index-page-slider .slick-next {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 100%;
  background: rgba(1, 1, 1, 0.3);
  font-size: 0;
}
.index-page-slider .slick-next:hover {
  background: rgba(1, 1, 1, 0.6);
}
.index-page-slider .slick-next:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
.index-page-slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  white-space: nowrap;
  max-width: 1176px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
}
.index-page-slider .slick-dots li {
  display: inline-block;
  margin-right: 30px;
}
.index-page-slider .slick-dots li:last-child {
  margin-right: 0;
}
.index-page-slider .slick-dots li.slick-active button {
  background: #000;
}
.index-page-slider .slick-dots li button {
  padding: 0;
  font-size: 0;
  background: none;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}